django
djangorestframework
django-cors-headers
python-dotenv
dj-database-url
psycopg2-binary
whitenoise
pymongo
gspread
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
cloudinary
pillow
qrcode
requests
